body {
  background-color:rgb(155, 208, 241);
}

h1 {
  text-align: center;
  font-weight: 300;
  font-family: Merriweather;
  font-style: italic;
  font-size: 90px;
}

h2 {
  text-align: center;
  font-weight: 150;
  font-family: Merriweather;
  font-size: 70px;
}

img {
  display: block;
  margin: 0 auto;
  border: 8px solid rgb(16, 16, 121);
}
  
.important {
  color:pink
}

